@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');
/* Reset propriedades */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(206, 206, 206);
}

/* Configuração genéricas */

.container-grid {
    width: 90%;
    margin: 0 auto;
    /* background-color: purple; */
}


/***** Cabeçalho ******/
header{
    background-color: rgb(59, 59, 59);
}
header nav{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: honeydew;
    text-decoration: none;
}

header .header-flex{
    display: flex;
    justify-content: space-between;
}

header h1 {
    color: white;
    font-weight: 300;
    
}

header h1 #Logoux {
    font-style: italic;
    font-weight: 600;
}

/* h2 {
    width: 300px;
    height: 30px;
    border: 1px solid red;

    margin-left: 20px;
    margin-right: 20px;

    padding-left: 30px;
} */


/***** Main part *****/


Main .colunas-flex{
    display: flex;
    justify-content: space-between;
}

main .coluna1{
    width: 75%;
    background-color:white;
    display: flex;
    flex-direction: column;
    
}

/* Imagem do Lapis */
main .coluna1 #Lapis{
    width: 100%;
}

main .coluna1 .titulo{
    background-color: yellowgreen;
    width: 100%;
    margin-top: 15px;
    margin-left: 15px;
}
    

main .coluna2{
    width: 20%;
    background-color: greenyellow;
}

main .coluna2{
    display: flex;
    flex-direction: column;
}
