@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');
/* Reset propriedades */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #EDECED;
}

/* Configuração genéricas */

.container-grid {
    width: 90%;
    max-width: 1200px;  /* Limite maximo de largura*/
    min-width: 992px; /* Limite minimo de largura*/
    margin: 0 auto;  /* Limite minimo de largura*/
    /* background-color: purple; */
}


/***** Cabeçalho ******/
header{
    background-color:  #676767;
}
header nav{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: honeydew;
    text-decoration: none;
}

header .header-flex{
    display: flex;
    justify-content: space-between;
}

header h1 {
    color: white;
    font-weight: 300;
    
}

header h1 #Logoux {
    font-style: italic;
    font-weight: 600;
}

/* h2 {
    width: 300px;
    height: 30px;
    border: 1px solid red;

    margin-left: 20px;
    margin-right: 20px;

    padding-left: 30px;
} */


/***** Main part *****/


Main .colunas-flex{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
/* Saction com a class coluna1. Dando cor e separando as colunas */
main .coluna1{
    width: 75%;
    background-color:white;
    color: gray;
    display: flex;
    flex-direction: column;
    
}

/* Imagem do Lapis */
main .coluna1 #Lapis{
    width: 100%;
}
/* Saction com a class coluna1. Separando e colocando paragrafos nas colunas */

p, h2 {
    margin: 10px;
}

/* Aside. Separando melhor os articals  */
main .coluna2{
    display: flex;
    flex-direction: column;
}

aside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 23%;
}

 /* article{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
    color: gray;
    padding: 10px;
}  */

main .divisao{
    margin-top: 30px;
    background-color: white;
    padding: 30px; 
}




/***** Rodapé *****/

footer{
    background-color: #676767;
    color: white;
    position: absolute;  
    bottom: 0%;
    width: 100%;
    padding-top: 20px;
    padding-right: 0;
    padding-bottom: 20px;
    padding-left: 0;

    /**Anotações**/
    /* padding: 0; top right bottom left */
    /* padding: 0 20px; top/ bottom right/left */
    /* padding: 0 20px 40;  top right/ left bottom */
    /* padding: 10px 10px 10px 10px;  top right bottom left */
    /**Anotações**/

    padding: 20px 0;

}

/* nesse código no footer, existe um truque: O código "Position: absolute;" faz o item não se mecher não importa o que e o código "Bottom: 0%" faz faz o item ficar preso lá em baixo. Ai complimentei com Width e height para finalizar o código */